div.toast.uploader.m-4(data-bs-autohide="false")
  div.toast-header.d-flex.justify-content-between
    b Uploader
    button(type="button" class="btn-close" data-bs-dismiss="toast")
  div.toast-body
    span.file-name Demo.png
    div.upload-progress.my-2
      div.upload-progress-bar.progress-width
    span.file-in-mb.progress-in-mb
